📁 daily-status-workflow-n8n/daily_ping_screenshot_report.json
{
  "name": "Daily report alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -120
      ],
      "id": "562fbf32-d711-4add-849a-ea0ea7d52faf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "ping -c 3 192.168.1.192 && echo \"\" && ping -c 3 192.168.1.155 && echo \"\" && ping -c 3 192.168.1.84 && echo \"\" && ping -c 3 8.8.8.8\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        240,
        -280
      ],
      "id": "3a0ac647-bbe5-486b-9596-02f4d1f89036",
      "name": "Execute Command",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://shot.screenshotapi.net/screenshot",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "AZTNCCD-NQR4MDS-PBW8WJK-0QM6NBJ"
            },
            {
              "name": "url",
              "value": "http://admin1:Sys023adm@192.168.4.1"
            },
            {
              "name": "output",
              "value": "image"
            },
            {
              "name": "file_type",
              "value": "png"
            },
            {
              "name": "full_page",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content_type",
              "value": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        60
      ],
      "id": "08c9d7da-7c61-486b-9625-d82e6b2033ec",
      "name": "HTTP Request",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://shot.screenshotapi.net/screenshot",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "AZTNCCD-NQR4MDS-PBW8WJK-0QM6NBJ"
            },
            {
              "name": "url",
              "value": "http://admin:sony610$800@192.168.4.45"
            },
            {
              "name": "output",
              "value": "image"
            },
            {
              "name": "file_type",
              "value": "png"
            },
            {
              "name": "full_page",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -120
      ],
      "id": "43fdca12-f452-4b17-b76d-aec7cf012bf7",
      "name": "HTTP Request1",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        460,
        80
      ],
      "id": "c7bd5c5a-40c8-4757-95f5-c5d72e1872ba",
      "name": "Merge Https"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        740,
        80
      ],
      "id": "2d77281b-bf88-443f-9fe2-cf62029cb981",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      api_1_response: $node[\"HTTP Request\"].json,\n      api_2_response: $node[\"HTTP Request 1\"].json,\n      command_result: {\n        stdout: $node[\"Execute Command\"].json[\"stdout\"] || \"No output\",\n        stderr: $node[\"Execute Command\"].json[\"stderr\"] || \"No error\",\n        exitCode: $node[\"Execute Command\"].json[\"exitCode\"] || \"No code\"\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        80
      ],
      "id": "5ad9ba7e-7a4e-4b18-b905-829ca2ce2c9a",
      "name": "Code"
    },
    {
      "parameters": {
        "fromEmail": "aloktrivedi.it@gmail.com",
        "toEmail": "alok.trivedi@nobroker.in",
        "subject": "📊 Daily Ping + Screenshot Report",
        "html": "=<p>Hello,</p>\n\n<p>Here is your daily server status report:</p>\n\n<h3>📡 Ping Report</h3>\n<pre>{{$json[\"command_result\"][\"stdout\"]}}</pre>\n\n<h3>🌐 API 1 Response</h3>\n<pre>{{ JSON.stringify($json[\"api_1_response\"], null, 2) }}</pre>\n\n<h3>🌐 API 2 Response</h3>\n<pre>{{ JSON.stringify($json[\"api_2_response\"], null, 2) }}</pre>\n\n<p>🖼️ Screenshot(s) attached below.</p>\n",
        "options": {
          "attachments": "screenshot1,screenshot2"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1200,
        -60
      ],
      "id": "ec79dc9e-0be5-4289-94f1-6dd4018c8cf3",
      "name": "Daily ping report",
      "webhookId": "0374fef9-378b-4fbc-a6ca-df5a219f2f8e",
      "credentials": {
        "smtp": {
          "id": "x0q8bfUl2zRdbwnK",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "458772c2-4c75-4935-a9ee-a2f6e6a6bf02",
              "leftValue": "={{$json[\"error\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        -280
      ],
      "id": "3d81d008-5794-4ea0-b9b7-dc6342545ddc",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "=6418622154",
        "text": "=🚨 n8n Workflow Error! Something went wrong in the workflow. Error Info: {{$json[\"error\"] || \"No error message available\"}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1160,
        -260
      ],
      "id": "e1159734-d830-4336-acf4-71c77cf6bb73",
      "name": "Telegram",
      "webhookId": "d6ad50b1-f3fc-4fb2-807f-2d2c1e1e6097",
      "credentials": {
        "telegramApi": {
          "id": "Y9csWCTsebQa1wrq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-04-08T03:24:52.593-04:00",
          "Readable date": "April 8th 2025, 3:24:52 am",
          "Readable time": "3:24:52 am",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "April",
          "Day of month": "08",
          "Hour": "03",
          "Minute": "24",
          "Second": "52",
          "Timezone": "America/New_York (UTC-04:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge Https",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge Https",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Https": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Daily ping report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4cf633b3-5fbc-4b64-990e-27a61385f519",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "559d1ebd96c77e716578fd7cb99e9e1f3b5e1283aabf533d0791d6a14e94b130"
  },
  "id": "vLS6bPQMxLISQyg1",
  "tags": []
}
